.container {
  width: 400px;
  padding: 20px;
  border-radius: none !important;
}

.container legend {
  font-weight: bold;
}

.container form {
  margin-bottom: 0;
}

.container fieldset {
  margin-bottom: 0;
}

footer {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  gap: 10px;
  margin-top: 10px;
}

.chatgpt-button {
  border-radius: none !important;
  color: #333;
  background-color: #fff;
  border-color: #ccc;
  border-width: 1px;
  border-style: solid;
  border-image: none;
}

.chatgpt-button.disabled, .chatgpt-button[disabled], fieldset[disabled] .btn {
  cursor: not-allowed;
  filter: alpha(opacity=65);
  opacity: 0.65;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.chatgpt-button:hover {
  color: #333;
  background-color: #e6e6e6;
  border-color: #adadad;
  cursor: pointer;
}

.chatgpt-button:active {
  color: #333;
  background-color: #e6e6e6;
  background-image: none;
  border-color: #adadad;
  background-image: none;
  outline: 0;
  -webkit-box-shadow: inset 0 3px 5px rgb(0 0 0 / 13%);
  box-shadow: inset 0 3px 5px rgb(0 0 0 / 13%);
}
